@{
    Layout = "_Layout";
}
@model ERP_System.DTO.Guide.SettingDTO;
@inject ERP_System.BLL.UserBll _userBll;
@if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
{

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">إعدادات الموقع</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" hidden value="@Model.ID=" name="id" id="id" />
                                            <label for="CompanyName">اسم الشركة</label>
                                            <input type="text" id="CompanyName" value="@Model.CompanyName" name="CompanyName" class="form-control" placeholder="اسم الشركة">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="CompanyPhone">تليفون الشركة</label>
                                            <input type="text" id="CompanyPhone" value="@Model.CompanyPhone" name="CompanyPhone" class="form-control" placeholder="تليفون الشركة">
                                        </div>
                                    </div>   
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="CompanyAddress">عنوان الشركة</label>
                                            <input type="text" id="CompanyAddress" value="@Model.CompanyAddress" name="CompanyAddress" class="form-control" placeholder="عنوان الشركة">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="CompanyImage">لوجو الشركة للطباعة</label>
                                            <input type="file" onchange="Cfile_changed()" id="CompanyImage" name="CompanyImage" accept=".jpg, .jpeg, .png" class="form-control" placeholder="صورة الشركة للطباعة">
                                            <img style="width: 200px;height: 200px;margin-top: 15px;display: none;" id="cImg">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Description">وصف للطباعة</label>
                                            <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Name">اسم الموقع</label>
                                            <input type="text" id="SiteName" value="@Model.SiteName" name="SiteName"  class="form-control" placeholder="اسم الموقع">
                                        </div>
                                    </div>
                                    
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Name">لوجو الموقع</label>
                                            <input type="file" onchange="Sfile_changed()" id="Logo" name="Logo" accept=".jpg, .jpeg, .png" class="form-control" placeholder="لوجو الموقع">
                                            <img style="width: 200px;height: 200px;margin-top: 15px;display: none;" id="sImg">
                                        </div>
                                    </div>
                                    @if (ViewBag.UserClassification == 1)
                                    {
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="MacAddress">عنوان الجهاز IP</label>
                                                <input type="text" id="MacAddress" value="@ViewBag.MacAddress" name="MacAddress" class="form-control" placeholder="عنوان الجهاز">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="ActivationDuration">تاريخ إنتهاء التفعيل </label>
                                                <input type="date" id="Duration" value="@ViewBag.Duration" name="Duration" class="form-control" placeholder="مدة التفعيل">
                                                @*<input type="date" id="Duration" value="@Model.DurationStr" name="Duration" class="form-control" placeholder="مدة التفعيل">*@
                                            </div>
                                        </div>
                                    }

                                    <div class="col-sm-12 d-flex justify-content-between">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit()">
                                            حفظ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {

    <partial name="_Scripts" />
}