@{
    Layout = null;
}
@inject ERP_System.BLL.Guide.SettingBll _settingBll;
@model ERP_System.DTO.UserDTO;
<!DOCTYPE html>
<html lang="ar" class="h-100" style="direction:rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>تسجيل الدخول</title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/auth.css">
    <link rel="stylesheet" href="~/new-assets/app.css">


    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <partial name="_Scripts" />
    <script>
        /**
         * App Direction a global variable to entire application has rtl or ltr only
         * */
        let mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>
    <style>

    </style>
</head>

<body style="direction:rtl !important;">

    <main class="main" id="top">

        <div id="auth">

            <div class="row h-100">
                <div class="col-xl-4 col-lg-5 col-md-8 col-11 form-auth">
                    <div id="auth-left">
                        <div class="auth-logo">
                            @{
                                var setting = _settingBll.GetSetting();
                                if (setting != null)
                                {
                                    if (setting.Logo != null)
                                    {
                                        <div class="logo">
                                            <a href="/Home/Index"><img src="@setting.Logo" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="logo">
                                            <a href="/Home/Index"><img src="~/assets/images/logo-removebg-preview.png" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="logo">
                                        <a href="/Home/Index"><img src="~/assets/images/logo-removebg-preview.png" style="border-radius: 10px;" alt="Logo" srcset="" width="250" /></a>
                                    </div>
                                }
                            }
                        </div>
                        <h1 class="auth-title">تسجيل الدخول.</h1>
                        <p class="auth-subtitle mb-3">ادخل اسم المستخدم وكلمة المرور للدخول.</p>



                            <form action="@Url.GetAction("LogIn")" method="post">
                                @if (ViewBag.Status == 0)
                                {
                                <div class="alert alert-danger">خطا في اسم المستخدم وكلمة المرور</div>
                                }

                                @Html.AntiForgeryToken()

                                <div class="form-group position-relative has-icon-left mb-4">
                                    @*<input type="text" id="UserCode" name="UserCode" class="form-control form-control-xl" placeholder="اسم المستخدم">*@
                                    @Html.TextBoxFor(u=>u.UserName , new {@class="form-control form-control-xl", placeholder="اسم المستخدم"})
                                    <div class="form-control-icon">
                                        <i class="bi bi-person"></i>
                                    </div>
                                </div>
                                <div class="form-group position-relative has-icon-left mb-4">
                                    @*<input type="password" id="password" name="password" class="form-control form-control-xl" placeholder="كلمة المرور">*@
                                    @Html.PasswordFor(u=>u.Password , new {@class="form-control form-control-xl", placeholder="كلمة المرور"})

                                    <div class="form-control-icon">
                                        <i class="bi bi-shield-lock"></i>
                                    </div>
                                </div>
                                <div class="form-check form-check-lg d-flex align-items-end">
                                    <input class="form-check-input ms-2" type="checkbox" value="" id="basic-checkbox" checked="checked">
                                    <label class="form-check-label text-gray-600" for="basic-checkbox">
                                        البقاء مسجلا
                                    </label>
                                </div>
                                <button type="submit" id="submitBtn" class="btn btn-primary btn-block btn-lg shadow-lg mt-4">تسجيل الدخول</button>
                            </form>
                        

                        @* <form action="@Url.GetAction("LogIn")" method="post">

                        @Html.AntiForgeryToken()
                        @if (ViewContext.HttpContext.Request.Query != null)
                        {
                        var d = ViewContext.HttpContext.Request.Query
                        .Where(x => x.Key.ToLower() == "returnUrl".ToLower()).Select(x => x.Value).FirstOrDefault();
                        if (!d.ToString().IsEmpty())
                        {
                        <input type="hidden" value="@d" name="returnUrl" />
                        }
                        }

                        <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" id="UserCode" name="UserCode" class="form-control form-control-xl" placeholder="اسم المستخدم">
                        <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                        </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" id="password" name="password" class="form-control form-control-xl" placeholder="كلمة المرور">
                        <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                        </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                        <input class="form-check-input ms-2" type="checkbox" value="" id="basic-checkbox" checked="checked">
                        <label class="form-check-label text-gray-600" for="basic-checkbox">
                        البقاء مسجلا
                        </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-4">تسجيل الدخول</button>
                        </form>*@
                        <div class="text-center mt-5 text-lg fs-4">
                            <p><a class="font-bold" href="/Account/ForgotPassword">نسيت كلمة المرور؟</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="auth-right">
                    </div>
                </div>
            </div>

        </div>

    </main>

</body>

</html>