@{
    Layout = null;
}
@model LogInDTO

<!DOCTYPE html>
<html lang="ar" class="h-100" style="direction:rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>تسجيل الدخول</title>
    <!-- Favicon icon -->
    <link rel="stylesheet" href="~/assets/css/main/app.css">
    <link rel="stylesheet" href="~/assets/css/pages/auth.css">
    <script>
        /**
         * App Direction a global variable to entire application has rtl or ltr only
         * */
        let  mainAppUserId = '@ViewContext.HttpContext.UserId()'
    </script>
    <style>
  
    </style>
</head>

<body   style="direction:rtl !important;" >

    <main class="main" id="top">
         
       @* <form action="@Url.GetAction("LogIn")" method="post">
            @Html.AntiForgeryToken()
            @if (ViewContext.HttpContext.Request.Query != null)
            {
                var d = ViewContext.HttpContext.Request.Query
                .Where(x => x.Key.ToLower() == "returnUrl".ToLower()).Select(x => x.Value).FirstOrDefault();
                if (!d.ToString().IsEmpty())
                {
                    <input type="hidden" value="@d" name="returnUrl" />
                }
            }

            <div class="mb-3 text-start">
                <label class="form-label" for="UserCode">اسم المستخدم</label>
                <div class="form-icon-container">
                    <input class="form-control form-icon-input" id="UserCode" name="UserCode" type="text" placeholder="كود المستخدم" /><span class="fas fa-user text-900 fs--1 form-icon"></span>
                    <span asp-validation-for="UserCode"></span>
                </div>
            </div>
            <div class="mb-3 text-start">
                <label class="form-label" for="password">كلمة المرور</label>
                <div class="form-icon-container">
                    <input class="form-control form-icon-input" id="password" name="password" type="password" placeholder="كلمة المرور" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row flex-between-center mb-7">
                <div class="col-auto">
                    <div class="form-check mb-0">
                        <input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" />
                        <label class="form-check-label mb-0" for="basic-checkbox">تذكرنى</label>
                    </div>
                </div>
                <div class="col-auto"><a class="fs--1 fw-semi-bold" href="/Account/forgotpassword">هل نسيت كلمة السر؟</a></div>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">تسجيل الدخول</button>

        </form>*@
         

        <div id="auth">

            <div class="row h-100">
                <div class="col-lg-5 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
                            <a href="index.html"><img src="assets/images/logo/logo.svg" alt="Logo"></a>
                        </div>
                        <h1 class="auth-title">تسجيل الدخول.</h1>
                        <p class="auth-subtitle mb-5">ادخل اسم المستخدم وكلمة المرور للدخول.</p>

                        <form action="@Url.GetAction("LogIn")" method="post">

                            @Html.AntiForgeryToken()
                            @if (ViewContext.HttpContext.Request.Query != null)
                            {
                                var d = ViewContext.HttpContext.Request.Query
                                .Where(x => x.Key.ToLower() == "returnUrl".ToLower()).Select(x => x.Value).FirstOrDefault();
                                if (!d.ToString().IsEmpty())
                                {
                                    <input type="hidden" value="@d" name="returnUrl" />
                                }
                            }

                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" id="UserCode" class="form-control form-control-xl" placeholder="اسم المستخدم">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="password" id="password" class="form-control form-control-xl" placeholder="كلمة المرور">
                                <div class="form-control-icon">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <div class="form-check form-check-lg d-flex align-items-end">
                                <input class="form-check-input ms-2" type="checkbox" value="" id="basic-checkbox">
                                <label class="form-check-label text-gray-600" for="basic-checkbox">
                                    البقاء مسجلا
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">تسجيل الدخول</button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p><a class="font-bold" href="/Account/forgotpassword">نسيت كلمة المرور؟</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right">
                    </div>
                </div>
            </div>

        </div>

    </main>

</body>

</html>