@{
    Layout = "_Layout";
}
@model ERP_System.DTO.Guide.UnitDTO;
@if (CurrentForm.CurrentFormPermissionActions.EditHasPermission)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">تعديل بيانات الوحدة</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" id="frm" onsubmit="Submit()">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Name">اسم الوحدة</label>
                                            <input hidden name="id" id="id" value="@Model.ID" class="d-none" />
                                            <input type="text" required id="Name" value="@Model.Name" name="Name" class="form-control" placeholder="اسم الوحدة">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="lable" for="FocusTypeId">  نوع الوحدة </label>
                                            <select class="Select sAddress form-select" value="@Model.UnitTypeValue" aria-label="اختر النوع" required name="UnitType" id="EddlUnitType">
                                                <option value="0">أساسية</option>
                                                <option value="1">فرعية</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 parentDev">
                                        <div class="form-group">
                                            <label class="lable" for="FocusTypeId">الوحده الأساسية</label>
                                            <select class="Select sAddress form-select" aria-label="اختر الوحدة" value="@Model.ParentId" name="ParentUnitId" id="ParentUnitId" asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Units"] , "Value", "Text")'>
                                                <option selected value="0">اختر الوحدة الأساسية</option>
                                            </select>
                                        </div>
                                    </div>
                                     <div class="col-12 rateDev">
                                        <div class="form-group">
                                            <label class="lable">الوحدة الأساسية </label>
                                            <label class="lable">  تساوي : </label>
                                            <input type="number" id="Rate" value="@Model.Rate" name="Rate" placeholder="القيمة">
                                            <label class="lable">  من الوحدة الفرعية </label>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input" checked="@Model.IsActive">
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-between mt-5">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="Submit()">
                                            حفظ
                                        </button>

                                        @if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
                                        {
                                            <div class="d-flex align-items-center justify-content-end ps-2">
                                                <a class="btn btn-outline-primary" href="/Guide/Unit/Index">
                                                    رجوع للقائمة
                                                    <span class="fa-arrow-left fas"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {

    <partial name="_Scripts" />
    <script>
        $(document).ready(function () {
            var unitTypeValue = $('#EddlUnitType').attr("value");;
            $('#EddlUnitType').val(unitTypeValue).trigger('change');
            unitTypeValue == 0 ? $('.rateDev').hide() : $('.rateDev').show();
            unitTypeValue == 0 ? $('.parentDev').hide() : $('.parentDev').show();
        });
    </script>
}
