<script>

    $(document).ready(function () {
        LoadTable();
    })

    let form = $('#frm');

    function Submit(type) {
        event.preventDefault();
        Save(type);
    }


    function LoadTable() {
        $('#tbl').DataTable().destroy();

        dt = $('#tbl').DataTable({
            "columnDefs": [{ "defaultContent": "-", "targets": "_all" }],

            "language": _dataTableTranslate,
            pageLength: 10,
            pagijngType: "full_numbers",
            direction: 'rtl',
            serverSide: true,
            scrollX: true,
            processing: true,
            lengthMenu: [10, 25, 50, 75, 100],
            sAjaxSource: '@Url.GetAction("LoadDataTable")',
            sServerMethod: "POST",
            bPaginate: true,
            paging: true,
            dom: 'Blfrtip',
            buttons: [


            ],
            search: {},
            columns: [

                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '</label><a target="_blank" href="' + data.BarCodePath + '" >' + (data.BarCodeText ?? "") + '</a> ' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="ProductName">' + (data.Name ?? "") + '</label><input hidden name="ProductId" class="ProductId" value="' + data.ID + '" /> ' }

                },

                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="StockName">' + (data.StockName ?? "") + '</label><input hidden name="StockId" class="StockId" value="' + data.StockId + '" /> ' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="GroupName">' + (data.GroupName ?? "") + '</label><input hidden name="GroupId" class="GroupId" value="' + data.GroupId + '" /> ' }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { 
                        return '<label class="NameUnitOfQty">' + (data.NameUnitOfQty ?? "") + '</label><input hidden name="IdUnitOfQty" class="IdUnitOfQty" value="' + data.IdUnitOfQty + '" /> '
                    }

                },
                {
                    data: null,
                    bSortable: true,
                    render: function (data, type, row) { return '<label class="QtyInStock">' + (data.QtyInStock ?? "") + '</label><input hidden name="QtyInStock" class="QtyInStock" value="' + data.QtyInStock + '" /> ' }

                },
                {

                    data: null,
                    bSortable: true,
                    render: function (data, type, row) {

                        return '<label class="align-center  statesact  ' + ((data.IsActive) ? "IsActive badge bg-success" : "IsDeactivate badge bg-danger") + ' "> <span>' + ((data.IsActive) ? "نشط" : "غير نشط") + '</span></label><input hidden class="isActive" value="' + data.IsActive + '" />'

                    }

                },
                {

                    data: null,
                    bSortable: false,
                    render: function (data, type, row) {
                        let btn = `<div class="Event">



    @if (CurrentForm.CurrentFormPermissionActions.EditHasPermission)
    {
                                                                                                                                                                                                                                                                <a class="btn-icon btn btn-warning btn-sm"  href="/Guide/Product/Edit/${data.ID}" >
                                                                                                                                                                                                                                         <i class="fas fa-pen"></i>

                                                                                                                                                                                                                                        </a>

    }

    @if (CurrentForm.CurrentFormPermissionActions.DeleteHasPermission)
    {
                                                                                                                                                                                                                                                   <a class="btn-icon btn btn-danger btn-sm" onclick="Delete(this,'${data.ID}')" href="javascript:void(0)">
                                                                                                                                                                                                                                       <i class="fas fa-trash-alt"></i>

                                                                                                                                                                                                                                       </a>
    }
                                                                                                                               `;
                        return btn + '</div>';
                    }
                }
            ]
        });

    }

    function file_changed() {
        var selectedFile = document.querySelectorAll('input[type="file"]')[0].files[0];
        var reader = new FileReader();
        reader.readAsDataURL(selectedFile);
    }

    function resetForm(stockId, groupId) {
        $('#id').val('');
        $('#Name').val('');
        $('#BarCodeText').val('');
        $('#QtyInStock').val('');
        $('#ExpireDate').val('');
        $('#IsActive').val('true');
        $('#IsActive').attr('checked');
        $('#ddlStockId').val(stockId).trigger('change');
        $('#ddlGroupId').val(groupId).trigger('change');
        $('#ddlIdUnitOfQty').val('0').trigger('change');
        $("#UnitsTbl").empty();
        UnitAddNew({ "id": "0", "ConversionFactor": "", "PurchasingPrice": "", "SellingPrice": "", "UnitBarcode": "" });
    }

    function Save(type) {
        let groupId = document.querySelector("#ddlGroupId").value;
        let stockId = document.querySelector("#ddlStockId").value;
        if ($('#ddlStockId').val() == '0' || $('#ddlGroupId').val() == '0' || $('#BarCodeText').val() == '' || $('#Name').val() == '' || $('#ddlUnitId').val() == '0') {
            Swal.fire({
                title: `من فضلك أدخل البيانات`,
                timer: 2000,
                timerProgressBar: true,
                icon: 'error',
                showConfirmButton: false
            })
        } else {
            let frm = new FormData();
            frm.append("ID", document.getElementById('id').value);
            frm.append("StockId", document.querySelector("#ddlStockId").value);
            frm.append("GroupId", document.querySelector("#ddlGroupId").value);
            //frm.append("UnitId", document.querySelector("#ddlIdUnitOfQty").value);
            frm.append("BarCodeText", document.getElementById('BarCodeText').value);
            frm.append("Name", document.getElementById('Name').value);
            frm.append("QtyInStock", document.getElementById('QtyInStock').value);
            frm.append("IdUnitOfQty", document.getElementById('ddlIdUnitOfQty').value);
            frm.append("IsActive", document.getElementById('IsActive').value);
            frm.append("Image", document.querySelectorAll('input[type="file"]')[0].files[0]);
            frm.append("Description", document.getElementById('Description').value);
            frm.append("ExpireDate", document.getElementById('ExpireDate').value);

            let Units = [];
            $.each($("#UnitsTbl >tr"), function (key, value) {
                let IdF = $(value).children("td").children(".ID").val().trim();
                let ID = IdF == '0' ? null : IdF,
                    UnitId = $(value).children("td").children(".UnitId").val().trim(),
                    ConversionFactor = $(value).children("td").children(".ConversionFactor").val().trim(),
                    PurchasingPrice = $(value).children("td").children(".PurchasingPrice").val().trim();
                SellingPrice = $(value).children("td").children(".SellingPrice").val().trim();
                UnitBarcode = $(value).children("td").children(".UnitBarcode").val().trim();
                if (UnitId !== '0') {
                    Units.push({ ID: ID, UnitId: UnitId, ConversionFactor: ConversionFactor, PurchasingPrice: PurchasingPrice, SellingPrice: SellingPrice, UnitBarcodeText: UnitBarcode });
                }
            })
            frm.append("ProductUnitsStr", JSON.stringify(Units));
            var $preloader = $('#loader');
            $preloader.fadeIn('slow');
            $.ajax({
                url: '@Url.GetAction("Save")',
                method: "POST",
                contentType: false,
                processData: false,
                data: frm,
                //complete: function (res) {
                //    $preloader.delay(200).fadeOut('slow');
                //    console.log(res)
                //    //if (res.responseJSON.Status) {
                //    //    Swal.fire({
                //    //        title: `${res.responseJSON.Message}`,
                //    //        timer: 1500,
                //    //        timerProgressBar: true,
                //    //        icon: 'success',
                //    //        showConfirmButton: false
                //    //    }).then((result) => {
                //    //        if (type === 'add') {
                //    //            resetForm(stockId, groupId);
                //    //        } else {
                //    //            window.location.href = "/Guide/Product/Index";
                //    //        }
                //    //    })
                //    //} else {
                //    //    $preloader.delay(100).fadeOut('slow');
                //    //    Swal.fire({
                //    //        title: `${res.responseJSON.Message}`,
                //    //        timer: 4000,
                //    //        timerProgressBar: true,
                //    //        icon: 'error',
                //    //        showConfirmButton: false
                //    //    })
                //    //}
                //}
                success: function (res) {
                    $preloader.delay(200).fadeOut('slow');
                    if (res.Status) {
                        Swal.fire({
                            title: `${res.Message}`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'success',
                            showConfirmButton: false
                        }).then((result) => {
                            if (type === 'add') {
                                resetForm(stockId, groupId);
                            } else {
                                window.location.href = "/Guide/Product/Index";
                            }
                        })
                    } else {
                        Swal.fire({
                            title: `${res.Message}`,
                            timer: 4000,
                            timerProgressBar: true,
                            icon: 'error',
                            showConfirmButton: false
                        })
                    }

                },
                error: function (res) {
                    Swal.fire({
                        title: `${res.Message}`,
                        timer: 4000,
                        timerProgressBar: true,
                        icon: 'error',
                        showConfirmButton: false
                    })
                }
            });
        }
    }
    function Delete(e, id) {

        var btn = $(e);
        var id = id;
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "هل انت متاكد من اجراء العملية",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'الغاء',
            confirmButtonText: 'نعم ، حذف!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.post('@Url.GetAction("Delete")', { id: id }, function (res) {
                    if (res.Status) {
                        Swal.fire({
                            title: `تم الحذف`,
                            timer: 2000,
                            timerProgressBar: true,
                            icon: 'success',
                            showConfirmButton: false
                        }).then(() => {
                            LoadTable();
                        });
                    }
                    else {

                        Swal.fire({
                            title: `${res.Message}`,
                            timer: 4000,
                            timerProgressBar: true,
                            icon: 'warning',
                            showConfirmButton: false
                        });
                    }
                });

            }
        })

    }

    $("#IsActive").change(function (e) {
        var isChecked = $(this).prop("checked");
        $("#IsActive").val(isChecked);
    });

    function UnitAddNew(obj) {
        $.post('@Url.GetAction("GetAllUnits")', function (res) {
            let rowId = Math.floor(Math.random() * 500) + 1;
            $("#UnitsTbl").append(` <tr>
                                                         <td >
                                                                            <input class="form-control ID" type="hidden" value="0"/>
                                                                        <select id="rowId-${rowId}" class="Select sAddress form-select UnitId" aria-label="اختر الوحدة" required  name="UnitId"  id="ddlUnitId">
                                                                        <option selected value="0">اختر الوحدة</option>
                                                                </select>
                                                                </td>
                                                                            <td><input type="number" class="form-control ConversionFactor" value="${obj.ConversionFactor}" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                                <td><input type="number" step="0.01" class="form-control PurchasingPrice" min="0" value="${obj.PurchasingPrice}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                                    <td><input type="number" step="0.01" class="form-control SellingPrice" min="0" value="${obj.SellingPrice}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                            <td><input type="text" class="form-control UnitBarcode" value="${obj.UnitBarcode}"/></td>

                                                                        <td>
                                                                <div class="d-flex">
                                                                <button type="button" class="btn btn-primary btn-icon addRow mx-2"><i class="fas fa-plus"></i></button>
                                                                <button type="button" class="btn btn-danger btn-icon removeRow mx-1" data-id="${obj.id}"><i class="fas fa-minus"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    `);
            let selectedUnits = [];
            $.each($("#UnitsTbl .UnitId"), function () {
                selectedUnits.push($(this).val())
            })

            $.each(res, function (i, item) {
                let selectedCon = selectedUnits.indexOf(item.Value) !== -1 ? "disabled='disabled'" : "";
                $('#rowId-' + rowId).append($(`<option  value="${item.Value}" ${selectedCon}>${item.Text}</option>`));
            });
        });

    }

    $("#UnitsTbl").on("click", ".addRow", function () {
        UnitAddNew({ "id": "0", "ConversionFactor": "", "PurchasingPrice": "", "SellingPrice": "", "UnitBarcode": "" })
    })

    $("#UnitsTbl").on("click", ".removeRow", function () {
        let id = $(this).parent().parent().siblings("td").children(".UnitId").val().trim();
        let btn = $(this);

        if (id != "0" || id != 0) {
            Swal.fire({
                title: 'هل أنت متأكد؟',
                text: "هل انت متاكد من اجراء العملية",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'الغاء',
                confirmButtonText: 'نعم ، احذفها!'
            }).then((result) => {
                if (result.isConfirmed) {

                    if ($("#UnitsTbl > tr").length > 1) { $(btn).parent().parent().parent().remove(); }
                    else {
                        $("#UnitsTbl").empty();
                        UnitAddNew({ "id": "0", "ConversionFactor": "", "PurchasingPrice": "", "SellingPrice": "", "UnitBarcode": "" })
                    }
                }
            });
        }
        else {
            if ($("#UnitsTbl > tr").length > 1) { $(btn).parent().parent().parent().remove(); }
            else {
                $("#UnitsTbl").empty();
                UnitAddNew({ "id": "0", "ConversionFactor": "", "PurchasingPrice": "", "SellingPrice": "", "UnitBarcode": "" })
            }
        }
    });

    function RefreshStocks() {
        $.get('@Url.GetAction("GetUserStocks")', function (res) {
            if (res) {
                $('#ddlStockId').empty();
                $('#ddlStockId').append('<option value="0">اختر المخزن</option>');
                for (i = 0; i < res.length; i++) {
                    $('#ddlStockId').append('<option value="' + res[i].Value + '">' + res[i].Text + '</option>');
                }
            }
        });


    }

    function RefreshItemGroups() {
        $.get('@Url.GetAction("GetItemGroups")', function (res) {
            if (res) {
                $('#ddlGroupId').empty();
                $('#ddlGroupId').append('<option value="0">اختر المجموعة</option>');
                for (i = 0; i < res.length; i++) {
                    $('#ddlGroupId').append('<option value="' + res[i].Value + '">' + res[i].Text + '</option>');
                }
            }
        });
    }
</script>