@{
    Layout = "_Layout";
}
@model ERP_System.DTO.Guide.ProductDTO;
@if (CurrentForm.CurrentFormPermissionActions.EditHasPermission)
{

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">تعديل صنف</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">

                        <form class="form form-horizontal" id="frm" onsubmit="Submit('edit')">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label class="lable" for="StockId">  المخزن<span style="color:red;"> * </span> </label>
                                        <select class="Select sAddress form-select" aria-label="اختر المخزن" required asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Stocks"] , "Value", "Text" , Model.StockId)' name="StockId" id="ddlStockId">
                                            <option selected value="0">اختر المخزن</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6 d-flex align-items-end">
                                        @if (CurrentFormByControllerName("Stock").CurrentFormPermissionActions.AddHasPermission)
                                        {
                                            <a type="button" href="/Guide/Stock/Add" target="_blank" class="btn btn-primary btn-icon mx-1"><i class="fas fa-plus"></i></a>
                                        }
                                        <button type="button" class="btn btn-success btn-icon mx-1" onclick="RefreshStocks()"><i class="fas fa-sync"></i></button>
                                    </div>


                                    <div class="form-group col-6">
                                        <label class="lable" for="GroupId">  المجموعة<span style="color:red;"> * </span> </label>
                                        <select class="Select sAddress form-select" aria-label="اختر المجموعة" required asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Groups"] , "Value", "Text" , Model.GroupId)' name="GroupId" id="ddlGroupId">
                                            <option selected value="0">اختر المجموعة</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6 d-flex align-items-end">
                                        @if (CurrentFormByControllerName("ItemGrpoup").CurrentFormPermissionActions.AddHasPermission)
                                        {
                                            <a type="button" href="/Guide/ItemGrpoup/Add" target="_blank" class="btn btn-primary btn-icon mx-1"><i class="fas fa-plus"></i></a>
                                        }
                                        <button type="button" class="btn btn-success btn-icon mx-1" onclick="RefreshItemGroups()"><i class="fas fa-sync"></i></button>
                                    </div>


                                    <div class="form-group col-6">
                                        <label for="BarCode">باركود الصنف<span style="color:red;"> * </span></label>
                                        <input hidden name="id" id="id" value="@Model.ID" class="d-none" />
                                        <input type="text" required value="@Model.BarCodeText" id="BarCodeText" name="BarCodeText" class="form-control" placeholder="باركود الصنف">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="Name">اسم الصنف<span style="color:red;"> * </span></label>
                                        <input type="text" required value="@Model.Name" id="Name" name="Name" class="form-control" placeholder="اسم الصنف">
                                    </div>

                                    <div class="form-group col-6">
                                        <label class="lable" for="IdUnitOfQty">وحدة الكمية</label>
                                        <input hidden id="txtIdUnitOfQty" value="@Model.IdUnitOfQty">
                                        <select class="Select sAddress form-select" onchange="handleSelectIdUnitOfQty()" aria-label="اختر الوحدة" asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Units"] , "Value", "Text",Model.IdUnitOfQty)' name="IdUnitOfQty" id="ddlIdUnitOfQty">
                                            <option selected value="0">اختر الوحدة</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="Quantity">الكمية</label>
                                        <input type="number" id="QtyInStock" step="0.1" value="@Model.QtyInStock" name="QtyInStock" class="form-control" placeholder="الكمية بالمخزن" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="ExpireDate">تاريخ إنتهاء الصلاحية</label>
                                        <input type="date" class="form-control" value="@Model.ExpireDateStr"  name="ExpireDate" id="ExpireDate">
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Images">صورة الصنف</label>
                                            <input type="file" onchange="file_changed()" id="Image" name="Image" accept=".jpg, .jpeg, .png" class="form-control" placeholder="صورة المنتج">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="table-container">
                                            <label for="Units">الوحدات ( يجب إدخال الوحدات بالترتيب من الأصغر إلي الأكبر )</label>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>الوحدة</th>
                                                        <th>معامل التحويل</th>
                                                        <th>سعر الشراء</th>
                                                        <th>سعر البيع</th>
                                                        <th>الباركود</th>
                                                        <th>التحكم</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="UnitsTbl">
                                                    @{
                                                        if (Model.GetProductUnits != null && Model.GetProductUnits.Length > 0)
                                                        {
                                                            foreach (var unit in Model.GetProductUnits)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-control ID" type="hidden" value="@unit.ID" />
                                                                        <select class="Select sAddress form-select UnitId" onclick="handleGetUnits(this)" onchange="handleSelectProductUnit(this)" aria-label="اختر الوحدة" asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Units"] , "Value", "Text",unit.UnitId)' name="UnitId" id="ddlUnitId">
                                                                            <option selected value="0">اختر الوحدة</option>
                                                                        </select>
                                                                    </td>
                                                                    <td><input type="number" class="form-control ConversionFactor" value="@unit.ConversionFactor" min="0" step="0.1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                    <td><input type="number" step="0.01" class="form-control PurchasingPrice " value="@unit.PurchasingPrice" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                    <td><input type="number" step="0.01" class="form-control SellingPrice" value="@unit.SellingPrice" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                    @if(Model.IdUnitOfQty == unit.UnitId)
                                                                    {
                                                                        <td><input type="text" value="@unit.UnitBarcodeText" class="form-control UnitBarcode" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><input type="text" value="@unit.UnitBarcodeText" class="form-control UnitBarcode" /></td>
                                                                    }

                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <button type="button" class="btn btn-primary btn-icon addRow mx-2"><i class="fas fa-plus"></i></button>
                                                                            <button type="button" class="btn btn-danger btn-icon removeRow mx-1"><i class="fas fa-minus"></i></button>
                                                                            <a onclick="doAll(this)" class="btn btn-outline-secondary mx-1" href="#"><i class="fas fa-sharp fa-solid fa-barcode"></i></a>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>

                                                                    <input class="form-control ID" type="hidden" value="0" />
                                                                    <select class="Select sAddress form-select UnitId" onchange="handleSelectProductUnit(this)" aria-label="اختر الوحدة" asp-items='new SelectList((IEnumerable<SelectListDTO>)ViewData["Units"] , "Value", "Text")' name="UnitId" id="ddlUnitId">
                                                                        <option selected value="0">اختر الوحدة</option>
                                                                    </select>
                                                                </td>
                                                                <td><input type="number" class="form-control ConversionFactor"  min="0" step="0.1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                <td><input type="number" step="0.01" class="form-control PurchasingPrice " min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                <td><input type="number" step="0.01" class="form-control SellingPrice" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" /></td>
                                                                <td><input type="text"  class="form-control UnitBarcode" /></td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <button type="button" class="btn btn-primary btn-icon addRow mx-2"><i class="fas fa-plus"></i></button>
                                                                        <button type="button" class="btn btn-danger btn-icon removeRow mx-1"><i class="fas fa-minus"></i></button>
                                                                        <a onclick="doAll(this)" class="btn btn-outline-secondary mx-1" href="#"><i class="fas fa-sharp fa-solid fa-barcode"></i></a>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Images">وصف الصنف</label>
                                            <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" id="IsActive" value="true" class="form-check-input" checked="@Model.IsActive">
                                                <label for="IsActive">الحاله</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-between mt-5">
                                        <button type="submit" class="btn btn-primary me-1 mb-1" onclick="Submit('edit')">
                                            حفظ
                                        </button>

                                        @if (CurrentForm.CurrentFormPermissionActions.ShowHasPermission)
                                        {
                                            <div class="d-flex align-items-center justify-content-end ps-2">
                                                <a class="btn btn-outline-primary" href="/Guide/Product/Index">
                                                    رجوع للقائمة
                                                    <span class="fa-arrow-left fas"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
    {

    <partial name="_Scripts" />
    <script>
        $(document).ready(function () {
            reservedUnits = [];
            $.each($("#UnitsTbl .UnitId"), function () {
                reservedUnits.push($(this).val())
            })

          

            //if($("#UnitsTbl .UnitIdSelect").length){
            //     $.each($("#UnitsTbl .UnitIdSelect"),function(){
            //         $(this).siblings(".UnitId").val($(this).val())
            //     })
            //}
            //var stockId = $('#ddlStockId').attr("value");;
            //$('#ddlStockId').val(stockId).trigger('change');

            //var groupId = $('#ddlGroupId').attr("value");;
            //$('#ddlGroupId').val(groupId).trigger('change');



            var isActive = $('#IsActive').attr("checked");
            if (isActive === 'checked') {
                $('#IsActive').val('true');
            } else {
                $('#IsActive').val('false');
            }
        });
    </script>
}
